@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(218, 71, 71);
}
h1 {text-align: center;}
body {
    background: #000000;
}
nav {
    background: #362c2c;
    width: 100%;
}
nav:after {
    content: "";
    clear: both;
    display: table;
}
nav ul {
    list-style: none;
    position: relative;
    align-items: center;
}
nav ul li {
    display: inline-block;
    margin: 0 5px;
    color: #493c3c;
}
nav ul li a {
    color: rgb(224, 191, 191);
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
    text-align: center;
}

/* nav ul li a:hover {
    border-radius: 5px;
    border-bottom: 1px solid #33ffff;
} */
/* .clickable:hover {
    border-radius: 5px;
    border-bottom: 1px solid rgb(228, 29, 29);
    cursor: pointer;
} */
.clickable {
    background: #e66567;
    background-image: -webkit-linear-gradient(top, #e66567, #781120);
    background-image: -moz-linear-gradient(top, #e66567, #781120);
    background-image: -ms-linear-gradient(top, #e66567, #781120);
    background-image: -o-linear-gradient(top, #e66567, #781120);
    background-image: linear-gradient(to bottom, #e66567, #781120);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .clickable:hover {
    background: #f06e99;
  background-image: -webkit-linear-gradient(top, #f06e99, #de3c3c);
  background-image: -moz-linear-gradient(top, #f06e99, #de3c3c);
  background-image: -ms-linear-gradient(top, #f06e99, #de3c3c);
  background-image: -o-linear-gradient(top, #f06e99, #de3c3c);
  background-image: linear-gradient(to bottom, #f06e99, #de3c3c);
  text-decoration: none;
  }
nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(119, 31, 31, 0.657);
}
nav ul :hover > ul {
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    background-color: #35090993;
    position: relative;
    margin: 0px;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid;
}

.range-input {
    background: rgb(6, 97, 97);
    -webkit-appearance: none;
    height: 2px;
    outline: none;
    border-radius: 2px;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(6, 97, 97);
    cursor: pointer;
}
.range-input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(6, 97, 97);
    cursor: pointer;
}